:root {
    font-family: 'Poppins', sans-serif;    line-height: 1.5;
    font-weight: 400;
    
    /* Primary */
    --color-primary-purple: hsl(259, 100%, 65%);
    --color-primary-red: hsl(0, 100%, 67%);
  
    /* Neutral */
    --color-neutral-white: hsl(0, 0%, 100%);
    --color-neutral-off-white: hsl(0, 0%, 94%);
    --color-neutral-light-grey: hsl(0, 0%, 86%);
    --color-neutral-smokey-grey: hsl(0, 1%, 44%);
    --color-neutral-off-black: hsl(0, 0%, 8%);
    
    color: var(--color-neutral-off-black);
    background-color: var(--color-neutral-light-grey);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    font-weight: 500;
    color: var(--color-primary-purple);
    text-decoration: inherit;
  }
  a:hover {
    color: var(--color-neutral-off-black);
  }
  
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--color-primary-purple);
    cursor: pointer;
    transition: border-color 0.25s;
    color: var(--color-neutral-white)
  }
  button:hover {
    background-color: var(--color-neutral-off-black);
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
  }